.posts-processor{
    .processed-posts{
        &__postnum{
            width:70px;
            border:none;
            background-color:#f1f1f1;
        }

        &__postid{
            width:100px;
        }

        &__datetime{
            width:200px;
        }

        &__postid,
        &__datetime,
        td{
            text-align: center;
            border: 1px solid #dddddd;
        }
        
        tr:nth-of-type(odd) {
            background-color: #f9f9f9;
        }

        &--hidden{
            display:none;
        }
    }
    
    .status{
        margin: 10px 0;
    }
    
    .panel {
        padding:4px 0;
    }
    
    .processor-selector{
        padding: 0 0 6px 0;

        &__label{
            display:inline;
            padding-right:10px;
        }
    }

    .start-stop{
        &__start{
            margin-right:5px;
        }
    }
}