.posts-processor{
    .processed-posts{
        &__postnum{
            width:70px;
            border:none;

            &-heading{
                background-color:#f1f1f1;
            }
        }

        &__postid{
            width:100px;
        }

        &__datetime{
            width:200px;
        }

        tbody{
            tr:nth-of-type(odd) {
                background-color: #f9f9f9;
            }

            td{
                text-align: center;
                border: 1px solid #dddddd;
            }
        }

        &--hidden{
            display:none;
        }

        &__table{
            tbody,
            thead tr{
                display:block;
            }

            tbody{
                height:60vh;
                min-height:150px;
                max-height: 600px;
                overflow-y: auto;
                overflow-x: hidden;
            }
        }

        &__postid-heading{
            padding: 0 0 0 4px;
        }
    }
    
    .status{
        margin: 10px 0;
    }
    
    .panel {
        padding:4px 0;
    }
    
    .processor-selector{
        padding: 0 0 6px 0;
    }

    .processor-selector,
    .batch-size{
        &__label{
            display:inline-block;
            width:80px;
        }

        &__dropdown,
        &__input{
            width:200px;
        }
    }

    .start-stop{
        margin-top: 10px;

        &__start{
            margin-right:5px;
        }
    }
}