.posts-processor{
    .processed-posts{
        &__postnum{
            width:70px;
            border:none;
            background-color:#f1f1f1;
        }

        &__postid{
            width:100px;
        }

        &__datetime{
            width:200px;
        }

        &__postid,
        &__datetime,
        td{
            text-align: center;
            border: 1px solid #dddddd;
        }
        
        tr:nth-of-type(odd) {
            background-color: #f9f9f9;
        }

        &--hidden{
            display:none;
        }

        .processed-posts__table{
            tbody,
            thead tr{
                display:block;
            }

            tbody{
                height: 200px;
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
    }
    
    .status{
        margin: 10px 0;
    }
    
    .panel {
        padding:4px 0;
    }
    
    .processor-selector{
        padding: 0 0 6px 0;
    }

    .processor-selector,
    .batch-size{
        &__label{
            display:inline-block;
            width:80px;
        }

        &__dropdown,
        &__input{
            width:200px;
        }
    }

    .start-stop{
        margin-top: 10px;

        &__start{
            margin-right:5px;
        }
    }
}